<div class="container-fluid">
  <div class="text-center">
    <h1>QuoteMe</h1>
    <p>Welcome to QuoteMe, where you create your quote, inspire, motivate and have fun!</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>
  </div>

  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12" *ngFor='let quote of quotes; let i=index'>
          <div class="card mb-3" >
            <div class="card-header">
              QuoteMe
            </div>
            <div class="card-body">
              <h5 class="card-title"> {{quote.name}} </h5>
              <p class="card-text">Posted on {{quote.completeDate | date}}</p>
              <div class="d-flex justify-content-between mb-2">
                <button class="btn btn-primary" (click)='likeButtonClick(i)'>like ({{quote.like}})</button>
                <button class="btn btn-danger " (click)='disLikeButtonClick(i)'>dislike ({{quote.dislike}})</button>
              </div>
              <hr>
              <div class="text-center">
                <button class="btn btn-secondary" (click)='toggleDetails(i)'>Toggle Details</button>
              </div>
              <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='completeQuote($event,i)'>
              </app-quote-detail>
            </div>
          </div>
    
      </div>
    
    </div>
  </div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <p *ngIf='quotes.length > 5'>You can Create More Quotes and We will vote for it!</p>
</div>
